* {
	box-sizing: border-box;
	
}

body {
	background-image: url(../images/concrete-texture.png);
    background-color: #cccccc;
}

header {
	background: white;
	font-family: 'Georgia', Times, Times New Roman, serif;`
	padding: 20px;
  	margin-bottom:20px;
  	border-bottom: 2px solid lightgray;
  	height: 80px;
}

h1 {
	float: left;
	margin: 2px 0px 0px 50px;
	padding: 20px;
	background-color: teal;
	color: white;
}

h2 {
	margin: 50px 0px 50px 0px;
	padding: 30px;
	color: teal;
	clear: both;
	border-bottom: 2px solid lightgray;
}

h3 {
	color: teal;
	text-align: center;
	border-bottom: 2px solid lightgray;
	padding: 20px;
}

ul {
    list-style-type: none;
    padding: 10px;
    float: right;
    text-align: center;
}

a:link {
    text-decoration: none;
}

li {
	color: gray;
	display: inline;
	text-decoration: none;
	margin: 15px 15px 15px 15px;
}

li a:hover:not(.active) {
    background-color: teal;
}

li a.active {
    color: darkgray;
    background-color: none;
}

.icon {
	margin: 5px;
    border: 1px solid #ccc;
    float: center;
    width: 50px;
    height: 50px;
}

.mypic {
	float: left;
	padding-left: 20px;
}

#port {
	margin: 15px 0px 15px 0px;
	padding: 5px;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
}

#connect {
	text-align: center;
	background-color: white;
	height: 200px;
	width: 300px;
	margin: 50px 0px 50px 100px;
	float: right;
}

#aboutme {
	background-color: white;
	height: 500px;
	width: 800px;
	margin: 50px 50px 50px 50px;
	padding: 15px;
	float: left;
	overflow: scroll;
}

#mypic {
	float: left;
	padding: 10px;
}

#portfolio {
	float: left;
	background-color: white;
	height: 900px;
	width: 800px;
	margin: 50px 50px 50px 50px;
	padding: 50px;
	overflow: scroll;
}

#form {
	background-color: white;
	float: left;
	margin: 50px 50px 50px 50px;
	height: 600px;
	width: 800px;
}

.pimage {
	float: left;
	border: 3px solid black;
}

.desc {
	float: bottom;
	line-height: 20px;
	text-align: center;
	height: 30px;
	width: 100%;
	background-color: teal;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: teal;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

footer {
	clear: both;
	padding: 20px;
  	background: #ccc;
  	text-align: center;
  	height: 60px;
  	border-top: 5px solid teal;
}